name: Deploy Production

on:
  repository_dispatch:
    types: [deploy]

permissions:
  contents: read
  packages: write

jobs:
  kamal:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      RAILS_ENV: production
    environment: production

    steps:
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Clone repo external
        run: |
          git clone ssh://sugiarto@drx.catfish-algol.ts.net:/home/sugiarto/gits/emperid.git
          cd emperid
