name: Deploy Production

on:
  repository_dispatch:
    types: [deploy]

permissions:
  contents: read
  packages: write

jobs:
  kamal:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      RAILS_ENV: production
    environment: production

    steps:
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: 3.4.6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Connect Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add host to known_hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan drx.catfish-algol.ts.net >> ~/.ssh/known_hosts

      - name: Clone repo external
        run: |
          git clone ssh://sugiarto@drx.catfish-algol.ts.net:/home/sugiarto/gits/emperid.git .

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/ugifractal/emperid:latest
            ghcr.io/ugifractal/emperid:${{ github.sha }}
          labels: |
            service=emperid

      - name: Install Kamal
        run: gem install kamal

      - name: Create Kamal secrets file
        run: |
          mkdir -p .kamal
          cat <<EOF > .kamal/secrets
          GHCR_TOKEN=${{ secrets.GHCR_TOKEN }}
          TAILSCALE_AUTHKEY=${{ secrets.TAILSCALE_AUTHKEY }}
          EOF

      - name: Debug
        run: cat .kamal/secrets

      - name: Deploy via Kamal
        run: kamal deploy --skip-push
        env:
          GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
