name: Deploy Production

on:
  repository_dispatch:
    types: [deploy]

permissions:
  contents: read
  packages: write

jobs:
  kamal:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      RAILS_ENV: production
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
